.navbar {
  padding: 1.5rem 0;
  background-color: #222433b5;
  position: fixed;
  width: 100vw;
  z-index: 10;
  height: 25px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
}

.listNavbar {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  transition: left 0.8s ease-in-out;
}

.bars {
  display: none;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
}

.brandLogo {
  position: absolute;
  left: 1.2rem;
  top: 0.7rem;
}

.btnNavbar {
  font-size: 1.35rem;
  /* padding: 1.4rem 1.5rem; */
  margin: 0 1rem;
  transition: background-color 0.3s;
  position: relative;
  color: white;
}

.btnNavbar:after {
  content: "";
  width: 0px;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fafafa;
  transition: all 0.3s;
}

.btnNavbar:hover:after {
  width: 100%;
}

.btnNavbar:not(:hover):after {
  right: 0;
  left: auto;
}

.btnNavbar.active:after {
  background: #8a8aff;
  width: 100%;
}

.close {
  /* visibility: hidden; */
  display: none;
}

.flagImg {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .brandLogo {
    display: none;
  }

  .btnNavbar {
    font-size: 1.2rem;
  }

  .navbar {
    padding: 1.3rem 0;
  }
}

@media screen and (max-width: 576px) {
  .brandLogo {
    display: block;
  }

  .bars {
    display: block;
  }

  .listNavbar {
    flex-direction: column;
    gap: 5rem;
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: -600px;
    top: 0;
    background-color: #202124;
    align-items: center;
    justify-content: center;
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    display: block;
  }

  .btnNavbar {
    width: 100vw;
    display: block;
    padding: 1rem 0;
    text-align: center;
  }

  .btnNavbar:after {
    height: 0px;
  }

  .btnNavbar:hover {
    background-color: #191919;
  }

  .btnNavbar.active {
    background-color: #191919;
  }
}
