.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;

  width: 100%;
  height: 100vh;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;

  border: 2px solid rgb(255, 100, 100);
  border-radius: 10px;
  box-shadow: inset 0 0 15px red, 0 0 45px red;

  width: 60%;
  height: 70%;

  padding: 1rem;
  margin-top: 10.5vh;
  margin-bottom: 4%;
}

.containerName {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-bottom: 15vh;
}

.name {
  font-size: 4rem;
  -webkit-text-stroke: 2px rgb(87, 87, 87);
}

.servicios {
  font-size: 2rem;
}

.btn {
  position: absolute;
  bottom: 10%;

  background-color: black;
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(255, 100, 100);

  box-shadow: inset 0 0 5px rgb(255, 0, 0), 0 0 15px rgb(255, 0, 0);

  width: 130px;
  height: 33px;

  cursor: pointer;

  transition: all 0.3s;
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn:hover {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: inset 0 0 7px rgb(100, 100, 100), 0 0 15px rgb(100, 100, 100);
}

.contac {
  display: flex;
  position: relative;
  gap: 2rem;
}

.btnContac {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;

  color: white;
  font-size: 3rem;

  padding: 0.5rem;

  cursor: pointer;
  transition: all 0.3s;
}

.btnContac:hover:nth-child(1) {
  color: blueviolet;
  border: 2px solid rgb(144, 70, 214);
  box-shadow: inset 0 0 5px blueviolet, 0 0 10px blueviolet;
}

.btnContac:hover:nth-child(2) {
  color: green;
  border: 2px solid rgb(49, 122, 49);
  box-shadow: inset 0 0 5px green, 0 0 10px green;
}

.btnContac:hover:nth-child(3) {
  color: rgb(40, 103, 178);
  border: 2px solid rgb(64, 114, 175);
  box-shadow: inset 0 0 5px rgb(40, 103, 178), 0 0 10px rgb(40, 103, 178);
}

.btnContac:hover:nth-child(4) {
  color: orangered;
  border: 2px solid rgb(255, 122, 74);
  box-shadow: inset 0 0 5px orangered, 0 0 10px orangered;
}

@media (max-width: 830px) {
  .border {
    margin-bottom: 6%;
  }
}

@media (max-width: 620px) {
  .btnContac {
    font-size: 2.5rem;
  }
}

@media (max-width: 565px) {
  .btnContac {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .btnContac {
    font-size: 1.5rem;
  }
}

@media (max-width: 420px) {
  .name {
    font-size: 3rem;
  }
  .servicios {
    font-size: 1.5rem;
  }
}

@media (max-width: 440px) {
  .contac {
    gap: 1rem;
  }
}

@media (max-width: 300px) {
  .name {
    font-size: 2.5rem;
  }
  .servicios {
    font-size: 1.5rem;
  }
}