.prueba {
  width: 100%;
  height: 200vh;

  background-color: rgb(117, 148, 148);
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;

  width: 100%;
  min-height: 100vh;
}

.About h1 {
  margin-top: 10vh;
  font-size: 3rem;
}

.container {
  display: flex;
  justify-content: space-around;

  width: 100%;
  height: 100%;
}

.containerMe {
  display: flex;
  flex-direction: column;

  border: 2px solid rgb(255, 100, 100);
  border-radius: 10px;
  box-shadow: inset 0 0 15px red, 0 0 45px red;

  width: 42%;
  min-height: 60vh;
  max-height: 200vh;

  padding: 2rem;
}

.containerMe:nth-child(1) {
  gap: 2.2rem;
}

.containerMe:nth-child(2) {
  gap: 1rem;
}

.title {
  font-size: 1.2rem;
}

.text1 {
  font-size: 1.7rem;
}

.text2 {
  color: rgb(127, 127, 127);
}

.text3 {
  color: rgb(127, 127, 127);
}

.text3 span {
  font-size: 1.3rem;
  color: white;
}

.text4 {
  font-size: 1.7rem;
  color: rgb(127, 127, 127);
}

.cv {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  background-color: transparent;
  color: white;

  border: 1px solid rgb(255, 100, 100);
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgb(255, 0, 0), 0 0 15px rgb(255, 0, 0);

  width: 150px;
  height: 30px;

  margin-top: auto;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;

  transition: all 0.3s;
  user-select: none;
}

.cv:hover {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: inset 0 0 5px rgb(100, 100, 100), 0 0 15px rgb(100, 100, 100);
}

.skills {
  display: flex;
  flex-wrap: wrap;

  gap: 0.84rem;
  user-select: none;
}

.tecnology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  width: 100px;
  height: 100px;
  padding: 0.5rem 0;

  transition: all 0.3s ease;
}

.tecnologyImg {
  width: 80px;
  height: 80px;
  margin: 0.5rem 3rem;

  margin-left: auto;
  margin-right: auto;

  transition: all 0.5s;

  filter: grayscale(100%);
}

.tecnology:hover {
  transform: scale(1.1);
}

.tecnology:hover .tecnologyImg {
  filter: grayscale(0%);
}

.tecnology h5 {
  position: absolute;
  opacity: 0;
  transition: all 0.5s;

  text-align: center;

  background-color: rgb(170, 170, 170);
  color: black;
  border-radius: 3px;

  width: 100%;
}

.tecnology:hover h5 {
  opacity: 1;
  transform: translateY(-50px);
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    gap: 3rem;
  }

  .containerMe {
    display: flex;
    flex-direction: column;

    border: 2px solid rgb(255, 100, 100);
    border-radius: 10px;
    box-shadow: inset 0 0 15px red, 0 0 45px red;

    width: 98%;
    min-height: 80vh;
    /* max-height: 200vh; */

    padding: 2rem;
  }
}

@media (max-width: 830px) {
  .tecnology {
    height: 120px;
  }

  .tecnologyImg {
    filter: grayscale(0%);
  }

  .tecnology h5 {
    bottom: 0;
    opacity: 1;

    background-color: rgba(170, 170, 170, 0);
    color: white;

    width: 100%;
  }

  .tecnology:hover {
    transform: scale(1);
  }

  .tecnology:hover h5 {
    transform: translateY(0px);
  }
}
