.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 10, 10);

  width: 100%;
  height: 8vh;

  padding: 0 3%;
}

.copyright {
  display: flex;
  flex-direction: column;

  color: white;
}

.contac {
  display: flex;

  gap: 1rem;
}

.btnContac{
    font-size: 2rem;
    color: white;
}