.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 10, 10);

  width: 100%;
  height: 8vh;

  padding: 0 3%;
}

.copyright {
  display: flex;
  flex-direction: column;

  color: white;
}

.contac {
  display: flex;

  gap: 1rem;
}

.btnContac {
  font-size: 2rem;
  color: white;
}

@media (max-width: 500px) {
  .copyright {
    font-size: 0.8rem;
  }

  .btnContac {
    font-size: 1.8rem;
  }
}

@media (max-width: 420px) {
  .btnContac {
    font-size: 1.6rem;
  }
}

@media (max-width: 380px) {
  .contac {
    display: flex;
  
    gap: .5rem;
  }
}
