@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

*::-webkit-scrollbar {
  background: black;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e5383b;
  border-radius: 10px;
  border: 1px solid red;
}

:root {
  /* background-color: #161a1d; */
  background-color: black;
}