.Proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;

  width: 100%;
  min-height: 100vh;
}

.Proyectos h1 {
  margin-top: 10vh;
  font-size: 3rem;
}

.containerProyectos {
  display: flex;
  justify-content: space-evenly;

  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;

  background-color: black;

  border: 3px solid rgb(255, 85, 85);
  border-radius: 10px;
  box-shadow: 0 0 45px red;

  width: 30%;
  height: 60vh;

  margin-top: 3vh;
}

.card:hover .img {
  filter: blur(2px);
}

.card section {
  display: flex;
  flex-direction: column;

  height: 50%;
}

.cardTop {
  display: flex;
  position: relative;
  height: 50%;
}

.img {
  border-radius: 7px 7px 0 0;
  object-fit: cover;

  width: 100%;
  height: 100%;
}

.hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 0;

  width: 100%;
  height: 100%;

  transition: all 0.2s;
}

.card:hover .hover {
  opacity: 1;
}

.deploy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 50%;
}

.deploy a {
  color: white;
  font-size: 2rem;
  margin-top: 5%;
}

.tecnologys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  width: 100%;
  height: 50%;

  gap: 0.8rem;
}

.tecnologys p {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
  font-size: 0.9rem;
  font-weight: 500;

  user-select: none;

  background-color: #99999936;
  border: 1px solid white;
  border-radius: 15px;
  color: white;

  height: 25px;
  padding: 0 calc(0.6rem - 1px);
}

.title {
  font-size: 1.3rem;
  margin: 0.5rem;
}

.text {
  color: rgb(127, 127, 127);
  margin: 0.5rem;
  margin-top: 0;

  overflow-y: auto;
}

@media (max-width: 1320px) {
  .containerProyectos {
    flex-wrap: wrap;
  }

  .card {
    width: 40%;
    height: 50vh;
  }
}

@media (max-width: 700px) {
  .card {
    width: 90vw;
    height: 50vh;
  }
}
